*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    cursor: pointer;
}
.top{
    box-shadow: 1px 1px 10px rgb(196, 196, 196);
}
header{
    height: 70px;
    background-color: #fff;
}
.img-header{
    display: flex;
    align-items: center;
}
.logo{
    cursor: pointer;
    height: 60px;
    width: auto;
    margin-top: 0;
}
.silect-otion{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
}
.silect-otion li{
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 15px;
}
.silect-otion li:hover{
    background-color: #ecf4fa;
}
.undo-redo{
    margin-top: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
}
.undo-redo i{
    font-size: 23px;
    color: rgb(61, 61, 61);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.undo-redo i:hover{
    background-color: #ecf4fa;
}
.share{
    background-color: #17a2b8;
    color: #fff;
    padding: 8px 13px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #05434d;
    border-bottom-width: 5px;
}
.share .fa-sharp{
    font-size: 16px;
    height: auto;
    color: #fff;
    padding: 0 3px;
    border-radius: 0;
}
.share:hover{
    background-color: #148c9e;
}
.share .fa-sharp:hover{
    background-color: transparent;
}

/* header end */
main{
    background-color: #fff;
}
.col-2{
    border-right: 1px solid gray;
}
.select-div{
    position: relative;
    user-select: none;
}
.selct-txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #aadcff;
}
.selct-txt p{
    font-size: 15px;
    width: 80px;
    height: 22px;
    overflow: hidden;
}
.option-list{
    display: none;
    background-color:  White;
    padding: 10px 0;
    position: absolute;
    top: 37px;
    left: 0;
    width: 100%;
    border-radius: 5px;
    height: 258px;
    width: 130%;
    overflow-y: scroll;
    box-shadow: 1px 1px 20px rgb(201, 201, 201);
    z-index: 1;
}
.option-block{
    display: block;
}
.option-list .option{
    padding: 10px 15px;
    display: block;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    
}
.option-list .option:hover{
    background-color:  #ecf4fa;
}
.option-list::-webkit-scrollbar{
    width: 4px;
    background-color: transparent;
}
.option-list::-webkit-scrollbar-thumb{
    background-color:  #72cffa;
}
.fa-caret-down{
    transition: 0.2s;
}
.dropDown-style{
    transform: rotate(180deg);
}

.font-size .row .col-3, .col-6{
    padding: 0;
}
.text-box:focus{
    border: none;
    outline: none;
}
.click-option{
    
}
.optionlist6{
    display: flex;
    align-items: center;
    justify-content: center;
}
.optionlist6 .fa-caret-down{
    font-size: 30px;
    cursor: pointer;
    color: #17a2b8;
    padding: 12px 15px;
    border-radius: 10px;
}
.optionlist6 .fa-caret-down:hover{
    background-color: #eef5f8;
}
.head-none{
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.top {
    box-shadow: 1px 1px 10px rgb(206, 206, 206);
}

/*text-box  start*/
.body{
    background-color: #eef5f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
}
.text-box{
    background-color: #fff;
    width: 60%;
    min-height: 110vh;
    padding: 60px 80px;
}
.text-box img{
    height: 180px;
    width: 200px;
}
.sticky-top{
    box-shadow: 0 5px 4px -2px rgb(230, 230, 230);
    
}

.btn-true{
    background-color: #17a2b8;
    color: #fff;
}

